@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:ital,wght@0,300;1,400&display=swap');

*{
    margin: 0;
    font-family: "Poppins", sans-serif;
}
body, html{
   margin: 0;
   background-image: linear-gradient(rgba(73, 75, 82, 0.384), rgba(77, 80, 92, 0.452)),
    url(images/IMG-4767.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.text-box h1{
    font-size: 80px;
}
.text-box h1 span{
    font-family: 'Clicker Script', sans-serif;
}

.text-box h3{
    font-size: 50px;
}

button{
    margin-top: 20px;
    background-color: bisque;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 20px; 
}

.nav-container{
    flex-wrap: wrap;
    
}

.nav-container ul{
    display: flex;
    gap: 30px;
    justify-content: right;
   

}

.nav-container ul li{
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
    
    /* border: 1px solid crimson;
    border-radius: 10px; */
    /* border-spacing: 50px; */
    
    
}
.nav-container ul li a {
    text-decoration: none;
    color: white;
    margin-right: 10px;
    
}

/* Home section start */
.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box .title{
    font-size: 80px;
}

.text-box .title span{
    
    font-family: 'Clicker Script',sans-serif;
}

.text-box .title2{
    font-size: 40px;
}

button{
    background-color: rgb(212, 129, 129);
    height: 50px;
    border-radius: 20px;
    color: white;
    margin-top: 20px;
}
    
/* Home section end */