@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:ital,wght@0,300;1,400&display=swap');

*{

    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    justify-content: right;

    color: white;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
    
}

.navbar-links li{
    list-style: none;
    
}
.navbar-links li a{
    text-decoration: none;
    color: black;
    padding: 5px;
    display: block;
}
.navbar-links li:hover{
    background-color:rgba(156, 58, 58, 0.712) ;
}
.toggle-button{
    position:absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}


.text-box h1{
    font-size: 80px;
}

.text-box h1 span{
    font-family: 'Clicker Script', sans-serif;
}

.text-box h3{
    font-size: 50px;
}

button{
    margin-top: 20px;
    background-color: bisque;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 20px; 
}

.toggle-button{
    position: absolute;
    top: .75rem;
    right: 10px;
    /* display: none; */
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}
.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: green;
    border-radius: 10px;
}

@media (max-width:680px){
    .toggle-button{
        display: flex;
        position: absolute; 
        right: 25px;
    } 
    .navbar-links {
        display: none; 
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links ul{
        flex-direction: column;
    }
    .navbar-links li{
        text-align: center;

    }
    .navbar-links li a{
        padding: .5rem 1rem;
    }
    .navbar-links.active{
        display: flex;
    }
    }


/* Home section start */
.text-box{

    width: 90%;
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box .title{
    font-size: 80px;
}

.text-box .title span{
    
    font-family: 'Clicker Script',sans-serif;
}

.text-box .title2{
    font-size: 40px;
}

button{
    background-color: rgb(212, 129, 129);
    height: 50px;
    border-radius: 20px;
    color: white;
    margin-top: 20px;
}
    
/* media quiries */
 

Home section end */
